// _CurrentContainer.scss

.currentContainer {
    background-color: $blue;
    color: #fff;
    min-height: 100%;

}

.currentLocation{
  padding-top: 20px;
}
.currentRight{


}

.currentInfo{


}

.currentDate{
  padding-top: 100px;
}
