// _CurrentContainer.scss

.currentContainer {
    background-color: $blue;
    color: #fff;
    height: 100%;

}

.currentIcon{
  height: 100%;
}

.currentLocation{
  padding-top: 20px;
  margin-top: 0;
}
.currentRight{
  height: 100%;
}

.currentInfo{
padding-top: 50px;
}

.currentDate{
  padding: 100px 0 30px 0;
}

.today{
  margin: 0;
}

.day{
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}