// _SearchContainer.scss


.searchContainer {
  // height: 10%;
  background-color: $altBlue2;
  h1 {
    // font-size: 20px;
    margin: 0;
    color: #FFFFFF;
    // padding: 12px 20px 0 30px;
  }
}
