// _SearchContainer.scss


.searchContainer {
  background-color: $altBlue2;
}

.header {
  background-color: $altBlue2;
  background-image: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  height: 70px;

}

.title {
  margin: 0;
  padding: 20px 0 20px 10px;
  a{
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  }
}

.form-group input {
  margin-top: 20px;
  color: #ffffff;
  background-color: $altBlue2;
  border-radius: 4px;

}

input::-webkit-input-placeholder {
color: #ffffff !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #ffffff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #ffffff !important;
}

input:-ms-input-placeholder {
color: #ffffff !important;
}
