$blue: #133977;
$altBlue: #3d5b85;
$altBlue2: #2c4d83;
$black: #222227;
$tan: #c8b559;
$tan2: #fffb8e;
$grey: #aebec1;

@import './containers/Main/Main';
@import './containers/CurrentContainer/CurrentContainer';
@import './containers/ForecastContainer/ForecastContainer';
@import './containers/SearchContainer/SearchContainer';
@import './components/currentTemp/currentTemp';


body{
    font-family: 'Roboto', sans-serif;
    height: 100%
}
html {
  height: 100%;
}
