$base : #374140;
$black : #1E1E20;
$light: #D9CB9E;
$gray: #2A2C2B;


.App {
  text-align: center;

}

.main {
  background-color: $base;
  color: $light;
  background-image: url('./images/bw-background.png');

}

.halfcontainer {
  min-height: 300px;

}

.currentTemp{

      background-color: $gray;
}

.jumbotron{
  padding-top: 20px;
  background-color: $black;
}

.forecastBlock {

  margin: 45px;
  height: 150px;
  background-color: $black;
}
