.App {
  text-align: center; }

.main {
  background-color: #374140;
  color: #D9CB9E;
  background-image: url("./images/bw-background.png"); }

.navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.halfcontainer {
  min-height: 300px; }

.currentTemp {
  background-color: #2A2C2B; }

.jumbotron {
  padding-top: 20px;
  background-color: #1E1E20; }

.forecastBlock {
  margin: 45px;
  height: 150px;
  background-color: #1E1E20; }

.geosuggest__input {
  border-radius: 30px; }

.geosuggest__input-wrapper {
  padding: 5px 15px 0 0; }
