.main {
  padding: 0;
  height: 100vh; }

.contentContainer {
  height: 100%; }

.currentContainer {
  background-color: #133977;
  color: #fff;
  min-height: 100%; }

.searchContainer {
  background-color: #2c4d83; }

.searchContainer h1 {
  margin: 0;
  color: #FFFFFF; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

html {
  height: 100%; }
