.main {
  padding: 0;
  height: 100vh; }

.contentContainer {
  height: 100%; }

.currentContainer {
  background-color: #133977;
  color: #fff;
  min-height: 100%; }

.currentLocation {
  padding-top: 20px; }

.currentDate {
  padding-top: 100px; }

.searchContainer {
  background-color: #2c4d83; }

.navbar-default {
  background-color: #2c4d83;
  background-image: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  height: 70px; }

.navbar-default .navbar-brand {
  margin: 0;
  padding: 25px 0 20px 10px;
  color: #FFFFFF;
  font-size: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

html {
  height: 100%; }
